.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  margin: 12px 0;
  line-height: 1.15;
  font-size: 4rem;
}

.data {
  margin: 12px 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
