.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  margin: 12px 0;
  line-height: 1.15;
  font-size: 4rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.data {
  margin: 12px 0;
}
